<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>UserPage</title>
    <link rel="stylesheet" href="/StyleSheet/MarkAttendance.css">

</head>
<body background="/Images/userpagebackground.jpg" >
<script src="/JS/ManageMarksheet.js"></script>

<!--header -->
<header class="Header">
    <h1>TEACHER ACCOUNT</h1>
    <div class="signout">
        <a class="Signout" href="/signout" align="right";>SIGN-OUT</a>
    </div>
</header>

<ul>
    <li><a  class="active" href="#home">Home</a></li>
    <li><a  href="#batch">Make a new Batch/Subject</a></li>
    <li><a href="#attendance">Mark Attendance</a></li>
    <li><a href="#marksheet">Add Marksheet</a></li>
    <li><a href="#Portal">Portal</a></li>
</ul>


<div class="Body">
    <h2 id="chooseBatch">Choose Batch to mark Attendance</h2>

    <select id="selectedbatch" placeholder="Choose Batch" required>
        <%for(var i=0;i<BatchList.length;i++){%>
        <option value= "<%=BatchList[i].BatchName%>"><%=BatchList[i].BatchName%> </option>
        <% } %>
    </select>
    <h2 >Add MarkSheet Title</h2>
<!--    <input id="MarksheetTitle" type="text" maxlength="10" required> -->
    <Button type="button" id="viewMarksheetbtn" required>View Marksheets</Button>
    <Button id="getMarks" type="button" required>GET MARKS</Button>
    <select id="selectMarksheet" required></select>
    <div >
        <table id="MarksTable">
        </table>

        <Button id="updateMarksbtn" type="button" required>UPDATE MARKS</Button>



    </div>

</div>

</body>
</html>