<!DOCTYPE html>
 <html ng-app="RegisterApp">
 <head>
    <title>Register Yourself</title> 
    <link rel="stylesheet" href="/stylesheet/registerStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.js"></script>
        <script type="text/javascript" src="/JS/Register.js"></script>
 </head>
  <body ng-controller="MainController">
   <form ng-model="myForm" name="myForm" class="RegistrationForm">
    <fieldset>
        <legend>Registration Form</legend>
          <h2>UserName</h2>
         
        <input ng-model="Username" name ="Username"ngTrim='false' id="Username" type="text" placeholder="UserName" required>

        <h2>Email</h2>
         
        <input ng-model="Email" name="Email" id="email" type="email" placeholder="Email" required> <br>
        <span class="requiredfield">This is a required field.</span> 

        <h2>Password</h2>
        <input ng-model="Password" name="Password" id="password" type="password" placeholder="Password" required>
        <h2>Contact No.</h2>
        <input ng-model="Contact" name="Contact" id="Contact" type="number" placeholder="Contact" required>
        <h2>Date of Birth</h2>
        <input ng-model="date" type="date">
        <h2>Teacher/Student</h2>
        <select ng-model="selectedstate" id="state" required>
            <option name="Teacher">Teacher</option>
            <option name="Student">Student</option>
        </select> 
        <br>
        <button ng-click ="sendme()" type="button" class="CreateBtn">CREATE NEW ACCOUNT</button>
    </fieldset>

       <h7 ng-show="showme">ACCOUNT CREATED TRY LOGGING IN <a href="127.0.0.1:8080"> Log-In</a></h7>
       <h2 ng-show="showmeError">UserName or Email already Exist Please try again </h2>

   </form>

</body>
</html>