<!DOCTYPE html>
<html>
<head>
 <title>New Teacher</title>
  <link rel="stylesheet" href="/home/sanchit/Desktop/Student-Teacher-Hub/StyleSheet/StudentaddTeacher.css">
</head>
<body background="/home/sanchit/Desktop/Student-Teacher-Hub/Images/userpagebackground.jpg">
<!--header -->
 <header class="Header">
    <h1>ADD A NEW TEACHER </h1>
    
  </header>
  
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#batch">Add Teacher</a></li>
  <li><a href="#attendance">View Attendance</a></li>
  <li><a href="#marksheet">View Marksheet</a></li>
   <li><a href="#Portal">PORTAL</a></li>
   <li><a href="#Portal">SIGN-OUT</a></li>  
</ul>
<h2>EID OF YOUR TEACHER</h2>
<input id="UniqueId" type="text" placeholder="Teacher UniqueId">
<input type="button" value="ADD TEACHER">
<select id="selectbatch" placeholder="SELECT BATCH">
</select>
<input type="button" value="SAVE TEACHER">



</body>
    </html>